<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Header template</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>
    <body class="container">

    <header th:fragment="header">
        <ul class="list-unstyled">
            <li><a th:href="@{/}">News site</a></li>
            <li th:if="${not session.isEmpty()}"><a th:href="@{/article/new}">New article</a></li>
            <li th:if="${not session.isEmpty()}"><a th:href="@{/image/new}">New image</a></li>
            <li th:if="${not session.isEmpty()}"><a th:href="@{/category/new}">New category</a></li>
            <p th:if="${not #lists.isEmpty(categories)}">Categories</p>
            <li th:each="category : ${categories}">
                <a th:href="@{/category/{name}(name=${category.name})}" th:text="${category.name}"/>
            </li>
        </ul>
    </header>

    </body>
</html>