<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title th:text="${article.title}">Article</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>
    <body class="container">
        <header th:replace="fragments/header :: header">
            <p>header</p>
        </header>

        <h1 th:text="${article.title}">Title</h1>
       <span>Category: </span> <p th:text="${article.category.name}">Category</p>
        <img th:src="@{/image/{id}(id=${article.image.id})}" height="256" width="256"/>
        <p th:text="${article.leadParagraph}">Lead paragraph</p>
        <p th:text="${article.bodyText}">Body text</p>

        <span>Written by </span><span th:text="${article.account.forename}">forename</span> <span th:text="${article.account.surname}">surname</span>
    </body>
</html>