<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Login</title>
    </head>
    <body>
        <h1>Login</h1>

        <form th:action="@{/login}" method="POST">
            <span>Username:</span><br/>
            <input type="text" name="username"/><br/>
            <span>Password:</span><br/>
            <input type="password" name="password"/><br/>
            <input type="submit" value="Login"/>
        </form>
    </body>
</html>