<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>New article</title>
    </head>
    <body>
        <h1>New article</h1>

        <li th:each="article : ${articles}">
            <a th:text="${article.leadParagraph}"/>  <a th:text="${article.bodyText}" />
        </li>

        <form th:action="@{/article/new}" method="POST">
            <span>Lead paragraph</span><br/>
            <input type="text" name="leadParagraph"/><br/>
            <span>Body text</span><br/>
            <input type="text" name="bodyText"/><br/>
            <input type="submit" value="Add article"/>
        </form>
    </body>
</html>