<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>New article</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>
    <body class="container">
        <header th:replace="fragments/header :: header">
            <p>header</p>
        </header>

        <h1>New article</h1>

        <form th:action="@{/article/new}" method="POST">
            <span>Title</span><br/>
            <input type="text" name="title"/><br/>
            <span>Image</span><br/>
            <select name="image">
                <option th:each="image : ${images}" th:value="${image.id}" th:text="${image.name}">image</option>
            </select><br/>
            <span>Lead paragraph</span><br/>
            <input type="text" name="leadParagraph"/><br/>
            <span>Body text</span><br/>
            <input type="text" name="bodyText"/><br/>
            <input type="submit" value="Add article"/>
        </form>
    </body>
</html>