<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Register account</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>
    <body class="container">
        <header th:replace="fragments/header :: header">
            <p>header</p>
        </header>

        <h1>Register account</h1>

        <!--<li th:each="account : ${accounts}">
            <a th:text="${account.username}"/>  <a th:text="${account.password}" />
        </li>-->

        <form th:action="@{/register}" method="POST">
            <span>Username:</span><br/>
            <input type="text" name="username"/><br/>
            <span>Password:</span><br/>
            <input type="password" name="password"/><br/>
            <span>Forename:</span><br/>
            <input type="text" name="forename"/><br/>
            <span>Surname:</span><br/>
            <input type="text" name="surname"/><br/>
            <input type="submit" value="Register"/>
        </form>
    </body>
</html>